__pycache__/
*.pyc
*.pyo
*.pyd

# virtual env
venv/
.venv/

# VSCode / PyCharm
.vscode/
.idea/

# Model Artifacts
models/*.onnx
models/*.har
models/*.hef

# Logs
logs/*
!logs/.gitkeep

# Data artifacts
data/calib_images/*
data/sample_videos/*
data/results/*

# OS files
.DS_Store
