# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 가상환경
venv/
.venv/
env/
.env/

# VSCode / IDE
.vscode/
.idea/

# 로그 / 결과물
logs/*
!logs/.gitkeep

data/results/*
data/sample_videos/*
data/calib_images/*

# Hailo / 모델 아웃풋 (원하면 추후 제거 가능)
models/*.onnx
models/*.har
models/*.hef

# 기타
.DS_Store
